header {
  background-image: linear-gradient(-184deg, #E2F1FF 88%, transparent 50% 100%);
  height: 696px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metropolis";
}

@font-face {
  font-family: "Metropolis";
  src: url("./../fonts/metropolis.regular-italic.otf");
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px 131px 0px;
}
nav .nav__img {
  width: 48px;
  height: 49px;
}
nav .nav__box ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
nav .nav__box a {
  text-decoration: none;
}
nav .nav__box ul > li > a {
  color: #000;
  font-family: "Metropolis";
  font-size: 14px;
  font-weight: 500;
}
nav .nav__box .nav__menu__li {
  display: flex;
  gap: 4px;
}
nav .nav__box ul button {
  color: #722ED1;
  font-family: " Metropolis";
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 23px;
  cursor: pointer;
  border: none;
}

.main__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main__box .main__box__1 .main__box__one {
  display: flex;
  gap: 12px;
  align-items: center;
}
.main__box .main__box__1 .main__box__one .main__box__1__img {
  width: 16px;
  height: 16px;
  margin-top: 20px;
  gap: 12px;
}
.main__box .main__box__1 .main__box__one .main__box__1__p p {
  color: #722ED1;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.main__box .main__box__1 .main__box__one .main__box__1__p p span {
  color: #722ED1;
  font-family: " Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
.main__box .main__box__1 h1 {
  color: #000;
  font-family: "Metropolis";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 24px;
}
.main__box .main__box__1 p {
  color: #000;
  font-family: " Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-top: 24px;
}
.main__box .main__box__1 .main__button {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}
.main__box .main__box__1 .main__button .main__button__1 button {
  color: #FFF;
  font-family: " Metropolis";
  font-size: 14px;
  font-weight: 500;
  background-color: #722ED1;
  padding: 12px 24px;
  border-radius: 23px;
  border: none;
}
.main__box .main__box__1 .main__button .main__button__2 button {
  color: #722ED1;
  font-family: "Metropolis";
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 23px;
  border: none;
}

.section__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.section__box .section__box__1 {
  text-align: center;
}
.section__box .section__box__1 button {
  color: #722ED1;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
}
.section__box .section__box__1 button img {
  width: 20px;
  height: 17px;
}
.section__box .section__box__1 img {
  width: 40px;
  height: 40px;
}
.section__box .section__box__1 h2 {
  color: #160637;
  text-align: center;
  font-family: " Metropolis";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.section__box .section__box__1 p {
  color: #8989A2;
  text-align: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-top: 24px;
}
.section__box .section__box__2 {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 24px;
}
.section__box .section__box__2 h4 {
  color: #160637;
  text-align: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-top: 16px;
}
.section__box .section__box__2 p {
  color: #8989A2;
  text-align: center;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 16px;
}

.aside__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.aside__box .aside__box__1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.aside__box .aside__box__1 h3 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  max-width: 431px;
}
.aside__box .aside__box__1 .aside__chiziq {
  display: flex;
  gap: 24px;
  text-align: center;
}
.aside__box .aside__box__1 .aside__chiziq_1 {
  border: 1px solid #8989A2;
  width: 130px;
  height: 0.5px;
  margin-top: 50px;
}
.aside__box .aside__box__1 p {
  color: #8989A2;
  font-family: " Metropolis";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 35px;
}
.aside__box .aside__box__1 .aside__box__img__1 {
  display: flex;
  gap: 102px;
  padding-top: 65px;
}
.aside__box .aside__box__1 .aside__box__img__2 {
  display: flex;
  gap: 111px;
  padding-top: 75px;
}
.aside__box .aside {
  background-color: #f6f6f6;
}
.aside__box .aside__box__2 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 438px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
.aside__box .aside__box__2 h5 {
  color: #160637;
  text-align: center;
  font-family: " Metropolis";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.aside__box .aside__box__2 button {
  color: #FFF;
  text-align: center;
  font-family: " Metropolis";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 98px;
  background-color: #722ED1;
  cursor: pointer;
  border: none;
  margin-top: 16px;
}
.aside__box .aside__box__2 .aside__input {
  padding-top: 16px;
}
.aside__box .aside__box__2 .aside__input input {
  color: #8989A2;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  padding: 16px 100px 16px 16px;
}
.aside__box .aside__box__2 .aside__input__1 {
  margin-top: 16px;
}
.aside__box .aside__box__2 .aside__input__1 input {
  color: #8989A2;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  padding: 16px 100px 16px 16px;
  max-width: 316px;
}
.aside__box .aside__box__2 .aside__input__2 {
  margin-top: 16px;
}
.aside__box .aside__box__2 .aside__input__2 input {
  color: #8989A2;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 500;
  padding: 16px 100px 16px 16px;
  max-width: 316px;
}
.aside__box .aside__box__2 h4 {
  color: #000;
  font-family: "Metropolis";
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 16px;
}
.aside__box .aside__box__2 img {
  padding-top: 16px;
}
.aside__box .aside__box__2 .leaner {
  border: 1px solid #8989A2;
  margin-top: 16px;
}
.aside__box .aside__box__2 p {
  color: #8989A2;
  font-family: "Metropolis";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
}
.aside__box .aside__box__2 p span {
  color: #722ED1;
  font-family: "Metropolis";
  font-size: 14px;
  font-weight: 500;
}

footer {
  background-color: #F6F6F6;
  margin-top: 128px;
}
footer .footer__box {
  width: 963px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  padding: 30px 30px;
  width: 960px;
  gap: 40px;
}
footer .footer__box .footer__box__1 p {
  color: #160637;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 14px;
  width: 209px;
}
footer .footer__box .footer__box__2 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer__box .footer__box__2 h5 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}
footer .footer__box .footer__box__2 a {
  color: #160637;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
footer .footer__box .footer__box__3 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer__box .footer__box__3 h5 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
  width: 121px;
  padding-bottom: 20px;
}
footer .footer__box .footer__box__3 a {
  color: #160637;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
footer .footer__box .footer__box__4 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer__box .footer__box__4 h5 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}
footer .footer__box .footer__box__4 a {
  color: #160637;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
footer .footer__box .footer__box__5 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer__box .footer__box__5 h5 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}
footer .footer__box .footer__box__5 a {
  color: #160637;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
footer .footer__box .footer__box__6 h5 {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
  width: 121px;
  padding-bottom: 20px;
}
footer .footer__box .footer__box__6 .footer__icons {
  display: flex;
  width: 180px;
}
footer .footer__box .footer__box__6 .footer__icons input {
  border: none;
  padding: 16px 0px 16px 16px;
  width: 160px;
}
footer .footer__box .footer__box__6 .footer__icons img {
  border: none;
  width: 19px;
  height: 19px;
  margin-left: -42px;
  margin-top: 12px;
}
footer .footer__case {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 55px 19px;
}
footer .footer__case .footer__case__1 p {
  color: #160637;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 700;
}
footer .footer__case .footer__case__img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */